.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-2 {
    padding: 5%;
    background: #0c59b1;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.invalid-text {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #ffffff;
}

.my-tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.btn-cal:hover {
    color: #fff;
    background-color: #6c757d !important;
    border-color: #007bff;
}

.text-required {
    font-weight: bold;
    color: red;
}

.chart {
    position: relative;
    display: inline-block;
    /* width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 50px; */
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: -18px;
}

.percent {
    display: inline-block;
    line-height: 60px;
    z-index: 2;
    font-size: .782em;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

#card-grafico .card-body {
    min-height: 300px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead input {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    height: 30px;
    margin-top: 0px;
}

.menu-activo {
    background-color: #38D430;
    color: #001B65 !important;
}

.dropdown-navbar .dropdown-item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.dropdown-navbar .dropdown-item:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.dropdown-navbar {
    border-radius: 12px;
}

.dropdown-navbar .dropdown-item:hover,
.dropdown-navbar .dropdown-item:focus {
    background-color: #001B65;
}

.dropdown-navbar .dropdown-item {
    color: #66615b;
    font-size: 14px;
    padding: 10px 45px 10px 15px;
    clear: both;
    white-space: nowrap;
    width: 100%;
    display: block;
}

.bootstrap-select .dropdown-menu.inner {
    width: 500px !important;
}

.card-scroll {
    max-height: 900px;
    overflow-y: auto;
}

.badge-cliente {
    color: #fff;
    background-color: #38D430;
    width: 80px;
}

.badge-prospecto {
    color: #fff;
    background-color: #001B65;
    width: 80px;
}

.bg-activos {
    background-color: #23B9D0!important
}

.bg-inactivos {
    background-color: #A7A8A9!important
}

.badge-activos {
    color: #fff;
    background-color: #23B9D0;
    width: 80px;
}

.badge-inactivos {
    color: #fff;
    background-color: #A7A8A9;
    width: 80px;
}

.txt {
    background-color: red;
    font-size: xx-small;
    position: absolute;
    padding: 5px;
    top: 8px;
    right: 25px;
    border-radius: 25px;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.btn-switch-activo {
    background: transparent;
    border: 2px solid #6bd098!important;
    color: #6bd098;
    opacity: 1;
    filter: alpha(opacity=100)
}

.text-notif-footer {
    font-size: 12px;
}

.notif-mostrar {
    visibility: visible;
}

.notif-ocultar {
    visibility: hidden;
}

.notif-timeline-v2 {
    position: relative;
    margin-top: 1rem;
}

.notif-timeline-v2:before {
    content: '';
    position: absolute;
    left: 4.85rem;
    width: 0.214rem;
    top: 5px;
    bottom: 5px;
    height: calc(100% - 5px);
    background-color: #E7E9F5;
}

.notif-timeline-v2__footer {
    display: table;
    position: relative;
    margin-bottom: 1.75rem;
    margin-left: 6.5rem;
    padding-left: 0.5rem;
    display: none;
}

.notif-timeline-v2__footer_show {
    display: block;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item {
    display: table;
    position: relative;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item .notif-timeline-v2__item-time {
    display: table-cell;
    font-size: small;
    font-weight: bold;
    vertical-align: top;
    position: absolute;
    padding-top: 0.18rem;
    color: #74788d;
    padding-left: 1rem;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item .notif-timeline-v2__item-cricle {
    border-radius: 50%;
    border: 0.89rem solid white;
    z-index: 1;
    top: 0.2rem;
    left: 4rem;
    position: relative;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item .notif-timeline-v2__item-cricle>i {
    font-size: 1.78rem;
    top: -0.93rem;
    left: -0.57rem;
    position: absolute;
}

.p-with-text {
    margin-right: 0rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    max-height: 4.5rem;
    text-align: justify;
}


/* create the ... */


/* hide ... if we have text, which is less than or equal to max lines */

.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item .notif-timeline-v2__item-text {
    display: table-cell;
    vertical-align: top;
    font-size: small;
    padding: 0.35rem 0 0 5rem;
    color: #74788d;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item .notif-timeline-v2__item-text.notif-timeline-v2__item-text--bold {
    font-size: small;
    font-weight: 500;
    padding-top: 0.21rem;
    color: #74788d;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item .notif-timeline-v2__item-text>span {
    font-weight: 700;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item .kt-list-pics {
    display: table-cell;
    vertical-align: top;
}

.notif-timeline-v2 .notif-timeline-v2__items .notif-timeline-v2__item:last-child {
    margin-bottom: 0;
}

.notif-danger {
    color: #fd397a !important;
}

.notif-danger {
    color: #0abb87 !important;
}

.notif-brand {
    color: #5d78ff !important;
}

.notif-warning {
    color: #ffb822 !important;
}

.notif-info {
    color: #5578eb !important;
}

.notif-list-pics>a {
    margin-right: 0.25rem;
}

.notif-list-pics>a>img {
    width: 3.36rem;
    border-radius: 50%;
    border-radius: 3px;
}

.notif-list-pics.notif-list-pics--circle>a>img {
    width: 3.36rem;
    border-radius: 50%;
}

.notif-list-pics.notif-list-pics--sm>a>img {
    width: 2.14rem;
}

.notif-list-pics.notif-list-pics-rounded--sm>a>img {
    width: 2.14rem;
}

.notif-cut {
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notif-cursor {
    cursor: pointer;
}

.spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em
}

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        opacity: 1
    }
}

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        opacity: 1
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem
}